<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../Css/bnavbar.css">
</head>
<body>
  


<footer>
<div id="links">
  <div>
    <img src="https://a.travel-assets.com/globalcontrols-service/content/f285fb631b0a976202ef57611c7050e9ef5ca51a/images/EG_Wordmark_blue_RGB.svg" alt="expedia group">
  </div>
  <div>
    <ul>
      <li><b>Company</b></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Jobs</a></li>
      <li><a href="#">Advertising</a></li>
      <li><a href="#">Newsroom</a></li>             
    </ul>  
  </div>

  <div>
    <ul>
      <li><b>Explore</b></li>
      <li><a href="#">Domestic Flights</a></li>
      <li><a href="#">Travelocity Reviews</a></li>
      <li><a href="#">Travelocity Coupons</a></li>
      <li><a href="#">Travel Blog</a></li>            
    </ul> 
  </div>
  <div>
    <ul>
      <li><b>Policies</b></li>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Terms of Use</a></li>
      <li><a href="#">Accessibility</a></li>     
    </ul> 
  </div>
  <div>
    <ul>
      <li><b>Help</b></li>
      <li><a href="support.html">Support</a></li>
      <li><a href="#">Cancel your flight</a></li>
      <li><a href="#">Use a Travelocity coupon</a></li>      
    </ul> 
  </div>
</div>
<hr>
<div>
  <p>© 2021 Travelscape LLC, an Expedia Group Company. All rights reserved.
    Travelocity, the Stars Design, and The Roaming Gnome Design are trademarks or registered trademarks of Travelscape LLC. CST# 2056372-50.</p>
</div>
</footer>
<button id="support"><span class="material-icons" style="width: 20px; margin: 0px 10px;">forum</span><br><b>Help</b></button>

</body>
</html>